/* Configuración General */
body {
    background-color: #1a1110; /* Fondo marron oscuro/negro */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* AGUSTIN TAPIA */
.titulo-principal {
    color: #b54d2b; /* Color naranja oscuro  */
    font-size: 8rem;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
}

/* Contenedor de las secciones */
.contenedor-blog {
    width: 80%;
    max-width: 900px;
}

.fila {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fila.inverso {
    flex-direction: row; /* Mantiene el orden o puedes usar row-reverse */
}

/* Tarjetas de Imagen */
.tarjeta-imagen {
    width: 300px;
    background-color: #b54d2b;
    border-radius: 8px;
    overflow: hidden;
    
}

espacio-foto {
    position: relative; /* Esto le pone "paredes" al título para que no se salga */
    display: inline-block; /* Hace que el contenedor mida lo mismo que la imagen */
}

}

.pie-blanco {
    background-color: #f5f5dc; /* Color crema/blanco de la base */
    height: 60px;
}

/* texto 1 */
.cuadro-texto {
    width: 40%;
    font-size: 2.5 rem;
    line-height: 2.0;
}

/* Footer */
footer {
    width: 100%;
    border-top: 1px solid #333;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

.link-footer {
    font-size: 0.8rem;
    color: #ccc;
@media (max-width: 768px) {
    /* La fila deja de ser horizontal y se pone uno arriba del otro */
    .fila {
        flex-direction: column !important;
        text-align: center;
    }

    /* El texto ocupa más ancho en el celular */
    .cuadro-texto {
        width: 90%;
        font-size: 1.1rem; /* Ajustamos el tamaño para que sea legible */
        margin-bottom: 30px;
    }

    /* La imagen se centra y ajusta su tamaño */
    .tarjeta-imagen {
        width: 90%; /* Casi todo el ancho del celular */
        max-width: 320px; /* Pero que no crezca demasiado */
        margin: 0 auto;
    }

    /* Ajustamos el título gigante para que no rompa la pantalla */
    .titulo-principal {
        font-size: 3.5rem; 
        margin: 20px 0;
    }
}